@import "tailwindcss";

@theme {
  --color-sonblade-dark: #000000;
  --color-sonblade-primary: #000000;
  --color-sonblade-gold: #D4AF37;
  --color-sonblade-light: #F8F9FA;
  --color-sonblade-success: #70AD47;
  --color-sonblade-warning: #F39C12;
  --color-sonblade-danger: #E74C3C;

  --font-sans: 'Inter', sans-serif;
}

/* Hide scrollbars but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}